# build output
dist
.avet
.vscode
.tmp
.site
.external
.temp
.changelog

# dependencies
node_modules

# logs
*.log

# coverage
.nyc_output
coverage

# test output
test/**/out
.DS_Store
run/

_site

*.iml
.idea

**/avet-shared/lib
**/avet-client/lib
**/avet-utils/lib

*.lerna_backup

asset-prod
bench/**/build
bench/**/.isomorphic

.next